# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
node_modules/
*.sqlite3
*.pyc
musiclibrary/musiclibrary/__pycache__/settings.cpython-36.pyc
musiclibrary/musiclibrary/__pycache__/urls.cpython-36.pyc
