<!-- artists.html -->
{% extends 'base.html' %}

{% block content %}

<h1>Search Albums</h1>

<form method="GET" action="{% url 'search_albums' %}">
    <label for="search">Find an Album:</label>
    <input type="text" id="search" name="search" placeholder="Enter album name">
    <button type="submit">Search</button>
</form>

{% if albums %}
    <h2>Search Results:</h2>
    <ul>
        {% for album in albums %}
        <a href="{% url 'album_songs' album.al_alid %}">{{ album.al_name }}</a>
        {% endfor %}
    </ul>
{% else %}
    <p>No albums found. Please try searching again</p>
{% endif %}

{% endblock %}