<!-- artists.html -->
{% extends 'base.html' %}

{% block content %}

<form method="GET" action="{% url 'search_artists' %}">
    <label for="search">Find an Artist:</label>
    <input type="text" id="search" name="search" placeholder="Enter artist name">
    <button type="submit">Search</button>
</form>

{% if artists %}
    
        {% for artist in artists %}
        <ul>
        <a href="{% url 'artist_albums' artist.a_aid %}">{{ artist.a_name }}</a>
        </ul>
        {% endfor %}
    
{% else %}
    <p>No artists found. Please try searching again.</p>
{% endif %}

{% endblock %}
