<!-- home.html -->
{% extends 'base.html' %}

{% block content %}

<p>Explore your music collection with ease. Search for specific songs, browse playlists, and discover new music.</p>

{% for playlist in playlists %}
<p><a href="playlist.html">{{ playlist.p_name }}</a></p>
<button onclick="">Remove</button>
{% endfor %}


<form action="{% url 'home' %}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <input type="submit" value="Add Playlist">
</form>

{% endblock %}
