<!-- playlists.html -->
{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<div class="grid">
  <div>
    <div style="display: flex; align-items: center; justify-content: center;">
      <h1>{{ playlist.p_name }}&ensp;</h1>
      <h1> | &ensp;</h1>
      <label class="switch">
          <input type="checkbox" id="danceabilityCheckbox" name="danceabilityCheckbox" {% if danceability_status %} checked {% endif %}>
          <span class="slider round"></span>
      </label>
      <script>
        // Get the checkbox element
        var danceabilityCheckbox = document.getElementById("danceabilityCheckbox");
      
        // Add an event listener to the checkbox
        danceabilityCheckbox.addEventListener("change", function() {
          // Get the current status of the checkbox
          var danceabilityStatus = danceabilityCheckbox.checked;
      
          // Get the current URL
          var currentUrl = window.location.href;
      
          // Create a regular expression to match the danceabilityStatus parameter in the URL
          var regex = /([?&])danceabilityStatus=([^&#]*)/;
      
          // Check if the danceabilityStatus parameter already exists in the URL
          if (regex.test(currentUrl)) {
            // If it exists, update the existing parameter
            var updatedUrl = currentUrl.replace(regex, danceabilityStatus ? "$1danceabilityStatus=true" : "$1danceabilityStatus=false");
          } else {
            // If it doesn't exist, append the parameter to the URL
            var separator = currentUrl.includes("?") ? "&" : "?";
            var updatedUrl = currentUrl + separator + "danceabilityStatus=" + danceabilityStatus;
          }
      
          // Redirect to the updated URL
          window.location.href = updatedUrl;
        });
      </script>
  </div>
    {% for playsong in playsongs|filter_by_danceability:request %}
    <div class="playsong-item">
      <a> {{ playsong.ps_sid.s_name }} - {{ playsong.ps_sid.s_alid.al_aid.a_name }} 
        {% if playsong.ps_sid.s_explicit %}
          <div style="background-color: #D3D3D3; padding: 2px; display: inline-block; font-size: smaller;">
            E
          </div> 
        {% endif %}
      </a>
      <form method="GET" action="{% url 'remove_song' playlist.p_pid playsong.ps_sid.s_sid search_query %}">
        <button type="submit">x</button>
      </form>
    </div>
    {% endfor %}
  </div>
  <div>
    <form method="GET" action="{% url 'playlist' playlist.p_pid %}">
      <label for="search">Find an Song:</label>
      <input type="text" id="search" name="search" placeholder="Enter song name">
      <button type="submit">Search</button>
    </form>

    {% if songs %}
      {% for song in songs %}
        <div class="song-item">
          <a>{{ song.s_name }} - {{ song.s_alid.al_aid.a_name }} 
            {% if song.s_explicit %}
            <div style="background-color: #D3D3D3; padding: 2px; display: inline-block; font-size: smaller;">
              E
            </div> 
            {% endif %}
          </a> 
          <form method="GET" action="{% url 'add_song' playlist.p_pid song.s_sid search_query %}">
            <button type="submit">+</button>
          </form>
        </div>
      {% endfor %}
    {% else %}
        <p>No songs found. Please try searching again</p>
    {% endif %}
  </div>
  
</div>

{% endblock %}
