<!-- playlists.html -->
{% extends 'base.html' %}

{% block content %}

<div class="grid-container">
  {{ playlist.p_name }}
  {% for playsong in playsongs %}
  <li> {{ playsong.ps_sid.s_name }} - {{ playsong.ps_sid.s_alid.al_aid.a_name }} </li>
  {% endfor %}
  <div>
    playlist songs here
  </div>

  <div>
    <form method="GET" action="{% url 'playlist' playlist.p_pid %}">
      <label for="search">Find an Song:</label>
      <input type="text" id="search" name="search" placeholder="Enter song name">
      <button type="submit">Search</button>
    </form>

    {% if songs %}
      <ul>
        {% for song in songs %}
          <li>{{ song.s_name }} - {{ song.s_alid.al_aid.a_name }}</li> 
          <form method="GET" action="{% url 'add_song' playlist.p_pid song.s_sid search_query %}">
            <button type="submit">+</button>
          </form>
        {% endfor %}
      </ul>
    {% else %}
        <p>No songs found. Please try searching again</p>
    {% endif %}
  </div>
  
</div>

{% endblock %}
