body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

h1 {
    font-size: 40px;
    font-style: italic;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content ul {
    text-align: left;
}

.content li {
    margin-bottom: 10px;
}

.playlist-item {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    margin-top: 10px;
}

.playlist-item > * {
    display: inline-block;
    margin-right: 10px; 
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.song-item {
    display: flex; 
    align-items: center; 
    margin-top: 10px;
}

.song-item a {
    margin-right: 10px;
}
